import {
  React,
  stories,
  text,
} from '../../story';
import {{component}} from '.';

stories(module, __dirname, {
  Default() {
    return (
      <{{component}}>
        {text('Greeting', 'Hello, world!')}
      </{{component}}>
    );
  },
});
